In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [2]:
incidents = pd.read_csv('../data/Canadian Railway Crossing Incidents.csv')

In [3]:
incidents.head()

,Region,EventType,Public automated,Public passive,Private,Farm
0,Newfoundland,Accidents,0,0,0,0
1,Newfoundland,Fatalities,0,0,0,0
2,Newfoundland,Serious injuries,0,0,0,0
3,Nova Scotia,Accidents,1,0,0,0
4,Nova Scotia,Fatalities,0,0,0,0

In [5]:
incidents.set_index("Region", inplace=True)

In [7]:
incidents.head()

,EventType,Public automated,Public passive,Private,Farm
Region,,,,,
Newfoundland,Accidents,0,0,0,0
Newfoundland,Fatalities,0,0,0,0
Newfoundland,Serious injuries,0,0,0,0
Nova Scotia,Accidents,1,0,0,0
Nova Scotia,Fatalities,0,0,0,0

In [8]:
incidents.index

Index(['Newfoundland', 'Newfoundland', 'Newfoundland', 'Nova Scotia',
       'Nova Scotia', 'Nova Scotia', 'New Brunswick', 'New Brunswick',
       'New Brunswick', 'Quebec', 'Quebec', 'Quebec', 'Ontario', 'Ontario',
       'Ontario', 'Manitoba', 'Manitoba', 'Manitoba', 'Saskatchewan',
       'Saskatchewan', 'Saskatchewan', 'Alberta', 'Alberta', 'Alberta',
       'British Columbia', 'British Columbia', 'British Columbia',
       'Northwest Territories', 'Northwest Territories',
       'Northwest Territories'],
      dtype='object', name='Region')

In [19]:
incidents.reset_index(inplace=True)
incidents.set_index(['Region', 'EventType'], inplace=True)
incidents.sort_index(inplace=True)

In [20]:
incidents.head()

                                   index  Public automated  Public passive  \
Region           EventType
Alberta          Accidents            21                 3               7
                 Fatalities           22                 0               0
                 Serious injuries     23                 0               1
British Columbia Accidents            24                 4               1
                 Fatalities           25                 0               0

                                   Private  Farm
Region           EventType
Alberta          Accidents               2     0
                 Fatalities              0     0
                 Serious injuries        2     0
British Columbia Accidents               0     0
                 Fatalities              0     0

In [24]:
incidents.index

MultiIndex([(              'Alberta',        'Accidents'),
            (              'Alberta',       'Fatalities'),
            (              'Alberta', 'Serious injuries'),
            (     'British Columbia',        'Accidents'),
            (     'British Columbia',       'Fatalities'),
            (     'British Columbia', 'Serious injuries'),
            (             'Manitoba',        'Accidents'),
            (             'Manitoba',       'Fatalities'),
            (             'Manitoba', 'Serious injuries'),
            (        'New Brunswick',        'Accidents'),
            (        'New Brunswick',       'Fatalities'),
            (        'New Brunswick', 'Serious injuries'),
            (         'Newfoundland',        'Accidents'),
            (         'Newfoundland',       'Fatalities'),
            (         'Newfoundland', 'Serious injuries'),
            ('Northwest Territories',        'Accidents'),
            ('Northwest Territories',       'Fatalities'),
            ('Northwest Territories', 'Serious injuries'),
            (          'Nova Scotia',        'Accidents'),
            (          'Nova Scotia',       'Fatalities'),
            (          'Nova Scotia', 'Serious injuries'),
            (              'Ontario',        'Accidents'),
            (              'Ontario',       'Fatalities'),
            (              'Ontario', 'Serious injuries'),
            (               'Quebec',        'Accidents'),
            (               'Quebec',       'Fatalities'),
            (               'Quebec', 'Serious injuries'),
            (         'Saskatchewan',        'Accidents'),
            (         'Saskatchewan',       'Fatalities'),
            (         'Saskatchewan', 'Serious injuries')],
           names=['Region', 'EventType'])

In [28]:
incidents.index.get_level_values(0)

Index(['Alberta', 'Alberta', 'Alberta', 'British Columbia', 'British Columbia',
       'British Columbia', 'Manitoba', 'Manitoba', 'Manitoba', 'New Brunswick',
       'New Brunswick', 'New Brunswick', 'Newfoundland', 'Newfoundland',
       'Newfoundland', 'Northwest Territories', 'Northwest Territories',
       'Northwest Territories', 'Nova Scotia', 'Nova Scotia', 'Nova Scotia',
       'Ontario', 'Ontario', 'Ontario', 'Quebec', 'Quebec', 'Quebec',
       'Saskatchewan', 'Saskatchewan', 'Saskatchewan'],
      dtype='object', name='Region')

In [29]:
incidents.index.get_level_values(1)

Index(['Accidents', 'Fatalities', 'Serious injuries', 'Accidents',
       'Fatalities', 'Serious injuries', 'Accidents', 'Fatalities',
       'Serious injuries', 'Accidents', 'Fatalities', 'Serious injuries',
       'Accidents', 'Fatalities', 'Serious injuries', 'Accidents',
       'Fatalities', 'Serious injuries', 'Accidents', 'Fatalities',
       'Serious injuries', 'Accidents', 'Fatalities', 'Serious injuries',
       'Accidents', 'Fatalities', 'Serious injuries', 'Accidents',
       'Fatalities', 'Serious injuries'],
      dtype='object', name='EventType')

In [34]:
incidents.index.names

FrozenList(['Region', 'EventType'])

In [31]:
incidents.head()

                                   index  Public automated  Public passive  \
Region           EventType
Alberta          Accidents            21                 3               7
                 Fatalities           22                 0               0
                 Serious injuries     23                 0               1
British Columbia Accidents            24                 4               1
                 Fatalities           25                 0               0

                                   Private  Farm
Region           EventType
Alberta          Accidents               2     0
                 Fatalities              0     0
                 Serious injuries        2     0
British Columbia Accidents               0     0
                 Fatalities              0     0

In [35]:
incidents.index.names = ['Area', 'Event']

In [37]:
incidents.head()

                                   index  Public automated  Public passive  \
Area             Event
Alberta          Accidents            21                 3               7
                 Fatalities           22                 0               0
                 Serious injuries     23                 0               1
British Columbia Accidents            24                 4               1
                 Fatalities           25                 0               0

                                   Private  Farm
Area             Event
Alberta          Accidents               2     0
                 Fatalities              0     0
                 Serious injuries        2     0
British Columbia Accidents               0     0
                 Fatalities              0     0

In [38]:
incidents.index.names

FrozenList(['Area', 'Event'])