In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [2]:
frame = pd.read_csv('../data/mcdonalds.csv', usecols=['Item', 'Category', 'Calories', 'TotalFat', 'Sugars', 'Protein', 'Cholesterol'])

In [3]:
frame.head()

,Category,Item,Calories,TotalFat,Cholesterol,Sugars,Protein
0,Breakfast,Egg McMuffin,300,13.0,260,3,17
1,Breakfast,Egg White Delight,250,8.0,25,3,18
2,Breakfast,Sausage McMuffin,370,23.0,45,2,14
3,Breakfast,Sausage McMuffin with Egg,450,28.0,285,2,21
4,Breakfast,Sausage McMuffin with Egg Whites,400,23.0,50,2,21

In [6]:
frame.Item.head()

0                        Egg McMuffin
1                   Egg White Delight
2                    Sausage McMuffin
3           Sausage McMuffin with Egg
4    Sausage McMuffin with Egg Whites
Name: Item, dtype: object

In [8]:
frame['Item'].head()

0                        Egg McMuffin
1                   Egg White Delight
2                    Sausage McMuffin
3           Sausage McMuffin with Egg
4    Sausage McMuffin with Egg Whites
Name: Item, dtype: object

In [9]:
frame['TotalFat0'] = 0

In [10]:
frame.head()

,Category,Item,Calories,TotalFat,Cholesterol,Sugars,Protein,TotalFat0
0,Breakfast,Egg McMuffin,300,13.0,260,3,17,0
1,Breakfast,Egg White Delight,250,8.0,25,3,18,0
2,Breakfast,Sausage McMuffin,370,23.0,45,2,14,0
3,Breakfast,Sausage McMuffin with Egg,450,28.0,285,2,21,0
4,Breakfast,Sausage McMuffin with Egg Whites,400,23.0,50,2,21,0

In [11]:
SugarAndFat = frame.Sugars + frame.TotalFat

In [12]:
frame['SugarAndFat'] = SugarAndFat

In [13]:
frame.head()

,Category,Item,Calories,TotalFat,Cholesterol,Sugars,Protein,TotalFat0,SugarAndFat
0,Breakfast,Egg McMuffin,300,13.0,260,3,17,0,16.0
1,Breakfast,Egg White Delight,250,8.0,25,3,18,0,11.0
2,Breakfast,Sausage McMuffin,370,23.0,45,2,14,0,25.0
3,Breakfast,Sausage McMuffin with Egg,450,28.0,285,2,21,0,30.0
4,Breakfast,Sausage McMuffin with Egg Whites,400,23.0,50,2,21,0,25.0

In [14]:
frame['SugarAndProtein'] = frame.Sugars + frame.Protein

If one want to insert column in other position than at the end, he shall use the .insert method

In [15]:
frame.insert(loc=2, 
             column='SPF', 
             value=frame.SugarAndProtein + frame.TotalFat)

In [18]:
frame.head()

,Category,Item,SPF,Calories,TotalFat,Cholesterol,Sugars,Protein,TotalFat0,SugarAndFat,SugarAndProtein
0,Breakfast,Egg McMuffin,33.0,300,13.0,260,3,17,0,16.0,20
1,Breakfast,Egg White Delight,29.0,250,8.0,25,3,18,0,11.0,21
2,Breakfast,Sausage McMuffin,39.0,370,23.0,45,2,14,0,25.0,16
3,Breakfast,Sausage McMuffin with Egg,51.0,450,28.0,285,2,21,0,30.0,23
4,Breakfast,Sausage McMuffin with Egg Whites,46.0,400,23.0,50,2,21,0,25.0,23

In [19]:
del frame['SugarAndProtein']

In [20]:
frame.head()

,Category,Item,SPF,Calories,TotalFat,Cholesterol,Sugars,Protein,TotalFat0,SugarAndFat
0,Breakfast,Egg McMuffin,33.0,300,13.0,260,3,17,0,16.0
1,Breakfast,Egg White Delight,29.0,250,8.0,25,3,18,0,11.0
2,Breakfast,Sausage McMuffin,39.0,370,23.0,45,2,14,0,25.0
3,Breakfast,Sausage McMuffin with Egg,51.0,450,28.0,285,2,21,0,30.0
4,Breakfast,Sausage McMuffin with Egg Whites,46.0,400,23.0,50,2,21,0,25.0

In [21]:
# del frame.SugarAndFat Will not work

In [22]:
frame = frame.drop(columns=['SugarAndFat']) # using .drop method

In [23]:
frame.head()

,Category,Item,SPF,Calories,TotalFat,Cholesterol,Sugars,Protein,TotalFat0
0,Breakfast,Egg McMuffin,33.0,300,13.0,260,3,17,0
1,Breakfast,Egg White Delight,29.0,250,8.0,25,3,18,0
2,Breakfast,Sausage McMuffin,39.0,370,23.0,45,2,14,0
3,Breakfast,Sausage McMuffin with Egg,51.0,450,28.0,285,2,21,0
4,Breakfast,Sausage McMuffin with Egg Whites,46.0,400,23.0,50,2,21,0

In [28]:
frame.drop(labels='SPF',
           axis=1,                   # 1 for column, 0 for row
           inplace=True
           )

In [29]:
frame.head()

,Category,Item,Calories,TotalFat,Cholesterol,Sugars,Protein,TotalFat0
0,Breakfast,Egg McMuffin,300,13.0,260,3,17,0
1,Breakfast,Egg White Delight,250,8.0,25,3,18,0
2,Breakfast,Sausage McMuffin,370,23.0,45,2,14,0
3,Breakfast,Sausage McMuffin with Egg,450,28.0,285,2,21,0
4,Breakfast,Sausage McMuffin with Egg Whites,400,23.0,50,2,21,0