In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [2]:
frame = pd.read_csv('..//data/mcdonalds.csv', usecols=['Item', 'Category', 'Serving Size', 'Calories', 'TotalFat'])

In [7]:
color = ['green', 'green', 'blue', 'blue', 'red', 'red', 'white']
gender = ['M', 'W', 'M', 'W', 'M', 'W', 'U']
size = ['S', 'S', 'S', 'M', 'M', 'M', 'L']
clothes = pd.DataFrame({'color' : color, 'gender' : gender, 'size' : size})
clothes

   color gender size
0  green      M    S
1  green      W    S
2   blue      M    S
3   blue      W    M
4    red      M    M
5    red      W    M
6  white      U    L

In [8]:
isColorBlue = clothes['color'] == 'blue'
isColorGreen = clothes['color'] == 'green'
isColorRed = clothes['color'] == 'red'

In [9]:
clothes[isColorBlue | isColorGreen | isColorRed]

   color gender size
0  green      M    S
1  green      W    S
2   blue      M    S
3   blue      W    M
4    red      M    M
5    red      W    M

In [10]:
clothes["color"].isin(['blue', 'green', 'red'])

0     True
1     True
2     True
3     True
4     True
5     True
6    False
Name: color, dtype: bool

In [11]:
clothes[clothes["color"].isin(['blue', 'green', 'red'])]

   color gender size
0  green      M    S
1  green      W    S
2   blue      M    S
3   blue      W    M
4    red      M    M
5    red      W    M

In [13]:
myColors = clothes["color"].isin(['blue', 'green', 'red'])
clothes[myColors]

   color gender size
0  green      M    S
1  green      W    S
2   blue      M    S
3   blue      W    M
4    red      M    M
5    red      W    M

In [14]:
clothes.loc[6, 'size'] = np.NaN

In [15]:
clothes

   color gender size
0  green      M    S
1  green      W    S
2   blue      M    S
3   blue      W    M
4    red      M    M
5    red      W    M
6  white      U  NaN

In [17]:
clothes['size'].notnull()

0     True
1     True
2     True
3     True
4     True
5     True
6    False
Name: size, dtype: bool

In [18]:
clothes['size'].isnull()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
Name: size, dtype: bool

In [19]:
clothes[clothes['size'].isnull()]

   color gender size
6  white      U  NaN

In [23]:
hasMoreThan300Cal = frame['Calories'] >= 300
hasLessThan400Cal = frame['Calories'] <= 400

In [25]:
frame[hasMoreThan300Cal & hasLessThan400Cal].head()

,Category,Item,Serving Size,Calories,TotalFat
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,13.0
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,23.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,23.0
20,Breakfast,"Bacon, Egg & Cheese McGriddles with Egg Whites",6.3 oz (178 g),400,15.0
35,Breakfast,Hotcakes,5.3 oz (151 g),350,9.0

In [26]:
caloriesBetween300and400 = frame['Calories'].between(300, 400)

In [28]:
frame[caloriesBetween300and400].head()

,Category,Item,Serving Size,Calories,TotalFat
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,13.0
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,23.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,23.0
20,Breakfast,"Bacon, Egg & Cheese McGriddles with Egg Whites",6.3 oz (178 g),400,15.0
35,Breakfast,Hotcakes,5.3 oz (151 g),350,9.0