In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [2]:
surveys = pd.read_csv('../data/StackOverflowDeveloperSurvey2018.csv',
                       usecols=['Country','Gender','OperatingSystem'], 
                       low_memory=False)

In [4]:
surveys.head()

          Country OperatingSystem Gender
0           Kenya     Linux-based   Male
1  United Kingdom     Linux-based   Male
2   United States             NaN    NaN
3   United States         Windows   Male
4    South Africa         Windows   Male

In [3]:
surveys['Country'].is_unique

False

In [6]:
surveys['Country'].unique()[:10]

array(['Kenya', 'United Kingdom', 'United States', 'South Africa',
       'Nigeria', 'India', 'Spain', 'Croatia', 'Netherlands', 'Israel'],
      dtype=object)

In [7]:
surveys['Country'].nunique()

183

In [32]:
len(surveys['Country'].unique())

184

In [15]:
duplicatesKeepFirst = surveys['Country'].duplicated(keep='first')

In [12]:
duplicatesKeepFirst

0         True
1         True
2         True
3        False
4         True
         ...
98850    False
98851    False
98852    False
98853    False
98854    False
Name: Country, Length: 98855, dtype: bool

In [25]:
surveys[~duplicatesKeepFirst]

                                     Country OperatingSystem  Gender
0                                      Kenya     Linux-based    Male
1                             United Kingdom     Linux-based    Male
2                              United States             NaN     NaN
4                               South Africa         Windows    Male
7                                    Nigeria         Windows  Female
...                                      ...             ...     ...
86051                                Eritrea     Linux-based    Male
89738  Democratic People's Republic of Korea             NaN     NaN
92028                               Djibouti             NaN     NaN
93487                                    NaN             NaN     NaN
96975                          Guinea-Bissau             NaN     NaN

[184 rows x 3 columns]

In [31]:
surveys.drop_duplicates(['Country', 'OperatingSystem'])

                                  Country OperatingSystem Gender
0                                   Kenya     Linux-based   Male
1                          United Kingdom     Linux-based   Male
2                           United States             NaN    NaN
3                           United States         Windows   Male
4                            South Africa         Windows   Male
...                                   ...             ...    ...
97024                       CÃ´te d'Ivoire             NaN    NaN
97155  Micronesia, Federated States of...             NaN    NaN
97420                             Liberia             NaN    NaN
97726                                Fiji             NaN    NaN
98254                          Cape Verde             NaN    NaN

[669 rows x 3 columns]

In [30]:
surveys.drop_duplicates(['Country', 'OperatingSystem']).query('Country == "Poland"')

      Country OperatingSystem Gender
30     Poland     Linux-based   Male
34     Poland         Windows   Male
232    Poland             NaN    NaN
854    Poland           MacOS   Male
72587  Poland        BSD/Unix    NaN