In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [2]:
cities = ['London', 'Berlin', 'Warsaw', 'Paris']

In [3]:
cities

['London', 'Berlin', 'Warsaw', 'Paris']

In [4]:
pd.Series(cities)

0    London
1    Berlin
2    Warsaw
3     Paris
dtype: object

Data series object takes list object as an input and makes a series from it like above. Every row has an index.
Strings are interpreted as objects in data series object (above)

In [5]:
primeNumbers = (2, 3, 5, 7, 11, 13, 17, 19)

In [6]:
primeNumbers

(2, 3, 5, 7, 11, 13, 17, 19)

In [7]:
pd.Series(primeNumbers)

0     2
1     3
2     5
3     7
4    11
5    13
6    17
7    19
dtype: int64

numbers are int

In [8]:
logicalValues = (True, True, False)
pd.Series(logicalValues)

0     True
1     True
2    False
dtype: bool

You can make own indexes by using dictionary keys, like below:

In [9]:
SpielbergFilmography = {
    'Jaws' : 1975,
    '1941' : 1979,
    'Indiana Jones and the Raiders of the Lost Ark' : 1981,
    'E.T. the Extra-Terrestrial' : 1982
}

In [10]:
pd.Series(SpielbergFilmography)

Jaws                                             1975
1941                                             1979
Indiana Jones and the Raiders of the Lost Ark    1981
E.T. the Extra-Terrestrial                       1982
dtype: int64

In [11]:
mixedDataTypes = [1, '1', True]

In [12]:
pd.Series(mixedDataTypes)

0       1
1       1
2    True
dtype: object