In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [2]:
numbers = [1, 2, 3, 11 ,12, 13]

In [3]:
numbers

[1, 2, 3, 11, 12, 13]

In [4]:
numSeries = pd.Series(numbers)
numSeries

0     1
1     2
2     3
3    11
4    12
5    13
dtype: int64

In [5]:
numSeries > 10    # Can compare series object with number. Will return boolean series

0    False
1    False
2    False
3     True
4     True
5     True
dtype: bool

In [6]:
numSeries.where(numSeries > 10)    # replace values where the condition is False (default by None)

0     NaN
1     NaN
2     NaN
3    11.0
4    12.0
5    13.0
dtype: float64

In [7]:
numSeries.where(numSeries > 10, other=-1)

0    -1
1    -1
2    -1
3    11
4    12
5    13
dtype: int64

In [8]:
numSeries.where(numSeries > 10).dropna() # .dropna drops na's. Creates copy

3    11.0
4    12.0
5    13.0
dtype: float64

In [11]:
numSeries.where(numSeries > 10, inplace=True)    # saves new series under old series variable name

In [12]:
numSeries

0     NaN
1     NaN
2     NaN
3    11.0
4    12.0
5    13.0
dtype: float64

In [13]:
numSeries.dropna(inplace=True) # inplaces series after drop

In [14]:
numSeries

3    11.0
4    12.0
5    13.0
dtype: float64

In [16]:
numSeries = pd.Series(numbers)
numSeries

0     1
1     2
2     3
3    11
4    12
5    13
dtype: int64

In [18]:
numSeries.where(numSeries > 10, inplace=True).dropna(inplace=True)    # will not work

AttributeError: 'NoneType' object has no attribute 'dropna'

In [20]:
numSeries.where(numSeries > 10, inplace=True)
numSeries.dropna(inplace=True)    # will work
numSeries

3    11.0
4    12.0
5    13.0
dtype: float64

In [21]:
numSeries = pd.Series(numbers)
numSeries

0     1
1     2
2     3
3    11
4    12
5    13
dtype: int64

In [22]:
numSeries.filter(items=[0,2,4])  # will show items under sent indexes

0     1
2     3
4    12
dtype: int64