In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [2]:
numbers = [1, 2, 3, 11, 12, 13]
numSeries = pd.Series(numbers)
numSeries

0     1
1     2
2     3
3    11
4    12
5    13
dtype: int64

In [3]:
numSeries > 10

0    False
1    False
2    False
3     True
4     True
5     True
dtype: bool

In [4]:
numSeries % 2

0    1
1    0
2    1
3    1
4    0
5    1
dtype: int64

In [5]:
numSeries % 2 == 1

0     True
1    False
2     True
3     True
4    False
5     True
dtype: bool

In [8]:
numSeries.where(numSeries > 10).dropna()

3    11.0
4    12.0
5    13.0
dtype: float64

In [9]:
numSeries.where(numSeries % 2 == 1).dropna()

0     1.0
2     3.0
3    11.0
5    13.0
dtype: float64

In [17]:
# numSeries.where(numSeries % 2 == 1 and numSeries > 10) gives error
# One must split conditions:

numbersGreater10 = numSeries > 10
numbersGreater10

0    False
1    False
2    False
3     True
4     True
5     True
dtype: bool

In [19]:
numbersOdd = numSeries % 2 == 1
numbersOdd

0     True
1    False
2     True
3     True
4    False
5     True
dtype: bool

In [22]:
numSeries.where(numbersGreater10 & numbersOdd).dropna() # So one can use another series to filter
# Have to use & operator, because it works on bits

3    11.0
5    13.0
dtype: float64

In [24]:
# using method to check if there are any numbers between two indicated numbers:
print(numSeries)
numSeries.between(3, 12)

0     1
1     2
2     3
3    11
4    12
5    13
dtype: int64

0    False
1    False
2     True
3     True
4     True
5    False
dtype: bool

In [25]:
valuesToShow = numSeries.between(3, 12)

In [27]:
numSeries.where(valuesToShow).dropna()

2     3.0
3    11.0
4    12.0
dtype: float64