In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [2]:
namesList = ['Albania','Austria','Belarus',
'Belgium','Bulgaria','Croatia','Cyprus','Czech Republic','Denmark','Estonia',
'Finland','France','Germany','Greece','Hungary','Iceland','Ireland','Italy',
'Latvia','Lithuania','Luxembourg','Macedonia','Malta','Montenegro','Netherlands',
'Norway','Poland','Portugal','Romania','Russia','Serbia','Slovenia','Spain',
'Sweden','Switzerland','United Kingdom','Turkey','Ukraine']

energy2010List = [1947,8347,3564,8369,4560,3814,4623,6348,6328,6506,16483,7736,7264,5318,3876,
51440,5911,5494,3230,3471,16830,3521,4171,5420,7010,24891,3797,4959,2551,
6410,4359,6521,5707,14934,8175,2498,3550,5701]

energy2012List = [2118,8507,3698,7987,4762,3819,4057,6305,6039,6689,15687,7344,7270,5511,3919,
53203,5665,5398,3588,3608,14696,3626,4761,5416,6871,23658,3899,4736,2604,
6617,4387,6778,5573,14290,7886,2794,3641,5452]

In [3]:
namesSeries = pd.Series(namesList)
namesSeries

0            Albania
1            Austria
2            Belarus
3            Belgium
4           Bulgaria
5            Croatia
6             Cyprus
7     Czech Republic
8            Denmark
9            Estonia
10           Finland
11            France
12           Germany
13            Greece
14           Hungary
15           Iceland
16           Ireland
17             Italy
18            Latvia
19         Lithuania
20        Luxembourg
21         Macedonia
22             Malta
23        Montenegro
24       Netherlands
25            Norway
26            Poland
27          Portugal
28           Romania
29            Russia
30            Serbia
31          Slovenia
32             Spain
33            Sweden
34       Switzerland
35    United Kingdom
36            Turkey
37           Ukraine
dtype: object

In [4]:
energy2010Series = pd.Series(energy2010List)
energy2010Series

0      1947
1      8347
2      3564
3      8369
4      4560
5      3814
6      4623
7      6348
8      6328
9      6506
10    16483
11     7736
12     7264
13     5318
14     3876
15    51440
16     5911
17     5494
18     3230
19     3471
20    16830
21     3521
22     4171
23     5420
24     7010
25    24891
26     3797
27     4959
28     2551
29     6410
30     4359
31     6521
32     5707
33    14934
34     8175
35     2498
36     3550
37     5701
dtype: int64

In [5]:
energy2012Series = pd.Series(energy2012List)
energy2012Series

0      2118
1      8507
2      3698
3      7987
4      4762
5      3819
6      4057
7      6305
8      6039
9      6689
10    15687
11     7344
12     7270
13     5511
14     3919
15    53203
16     5665
17     5398
18     3588
19     3608
20    14696
21     3626
22     4761
23     5416
24     6871
25    23658
26     3899
27     4736
28     2604
29     6617
30     4387
31     6778
32     5573
33    14290
34     7886
35     2794
36     3641
37     5452
dtype: int64

In [8]:
mean2010 = energy2010Series.mean()
mean2010

7779.8421052631575

In [10]:
mean2012 = energy2012Series.mean()
mean2012

7706.815789473684

In [26]:
aboveMean2010Condition = energy2010Series > mean2010
filterAboveMean2010 =  energy2010Series.where(aboveMean2010Condition).dropna()
filterAboveMean2010

1      8347.0
3      8369.0
10    16483.0
15    51440.0
20    16830.0
25    24891.0
33    14934.0
34     8175.0
dtype: float64

In [27]:
aboveMean2012Condition = energy2012Series > mean2012
filterAboveMean2012 = energy2012Series.where(aboveMean2012Condition).dropna()
filterAboveMean2012

1      8507.0
3      7987.0
10    15687.0
15    53203.0
20    14696.0
25    23658.0
33    14290.0
34     7886.0
dtype: float64

In [70]:
indexesAbove2010 = filterAboveMean2010.keys().to_list()
indexesAbove2010

[1, 3, 10, 15, 20, 25, 33, 34]

In [71]:
countriesAbove2010 = namesSeries.filter(items=indexes2010)
countriesAbove2010

1         Austria
3         Belgium
10        Finland
15        Iceland
20     Luxembourg
25         Norway
33         Sweden
34    Switzerland
dtype: object

In [72]:
indexesAbove2012 = filterAboveMean2012.keys().to_list()
indexesAbove2012

[1, 3, 10, 15, 20, 25, 33, 34]

In [73]:
countriesAbove2012 = namesSeries.filter(items=indexesAbove2012)
countriesAbove2012

1         Austria
3         Belgium
10        Finland
15        Iceland
20     Luxembourg
25         Norway
33         Sweden
34    Switzerland
dtype: object

In [66]:
belowMean2010Condition = - aboveMean2010Condition
filterBelowMean2010 =  energy2010Series.where(belowMean2010Condition).dropna()
filterBelowMean2010

0     1947.0
2     3564.0
4     4560.0
5     3814.0
6     4623.0
7     6348.0
8     6328.0
9     6506.0
11    7736.0
12    7264.0
13    5318.0
14    3876.0
16    5911.0
17    5494.0
18    3230.0
19    3471.0
21    3521.0
22    4171.0
23    5420.0
24    7010.0
26    3797.0
27    4959.0
28    2551.0
29    6410.0
30    4359.0
31    6521.0
32    5707.0
35    2498.0
36    3550.0
37    5701.0
dtype: float64

In [68]:
belowMean2012Condition = - aboveMean2012Condition
filterBelowMean2012 =  energy2012Series.where(belowMean2012Condition).dropna()
filterBelowMean2012

0     2118.0
2     3698.0
4     4762.0
5     3819.0
6     4057.0
7     6305.0
8     6039.0
9     6689.0
11    7344.0
12    7270.0
13    5511.0
14    3919.0
16    5665.0
17    5398.0
18    3588.0
19    3608.0
21    3626.0
22    4761.0
23    5416.0
24    6871.0
26    3899.0
27    4736.0
28    2604.0
29    6617.0
30    4387.0
31    6778.0
32    5573.0
35    2794.0
36    3641.0
37    5452.0
dtype: float64

In [69]:
indexesBelow2010 = filterBelowMean2010.keys().to_list()
indexesBelow2010

[0,
 2,
 4,
 5,
 6,
 7,
 8,
 9,
 11,
 12,
 13,
 14,
 16,
 17,
 18,
 19,
 21,
 22,
 23,
 24,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 35,
 36,
 37]

In [75]:
indexesBelow2012 = filterBelowMean2012.keys().to_list()
indexesBelow2012

[0,
 2,
 4,
 5,
 6,
 7,
 8,
 9,
 11,
 12,
 13,
 14,
 16,
 17,
 18,
 19,
 21,
 22,
 23,
 24,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 35,
 36,
 37]

In [81]:
countriesBelow2010 = namesSeries.filter(items=indexesBelow2010)
# countriesBelow2010
countriesBelow2012 = namesSeries.filter(items=indexesBelow2012)

countriesBelow2012

# countriesBelow2012 == countriesBelow2010

0            Albania
2            Belarus
4           Bulgaria
5            Croatia
6             Cyprus
7     Czech Republic
8            Denmark
9            Estonia
11            France
12           Germany
13            Greece
14           Hungary
16           Ireland
17             Italy
18            Latvia
19         Lithuania
21         Macedonia
22             Malta
23        Montenegro
24       Netherlands
26            Poland
27          Portugal
28           Romania
29            Russia
30            Serbia
31          Slovenia
32             Spain
35    United Kingdom
36            Turkey
37           Ukraine
dtype: object

Conclusions:
- same countries are above mean usage in 2012 and 2010
- countries above mean usage are mostly northern or mountain countries