In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

# methods to import data starts from .read_

In [42]:
obj = pd.read_csv("../data/pokemon.csv", usecols=['Name']).squeeze()
# use ../ to go up in directory
speed = pd.read_csv("../data/pokemon.csv", usecols=['Speed']).squeeze()

# .usecols - indicates columns to be read, arg = list
# .Squeeze converts Frame to Series

In [44]:
# type(obj)
speed

0       45
1       60
2       80
3       80
4       65
      ...
795     50
796    110
797     70
798     80
799     70
Name: Speed, Length: 800, dtype: int64

# Can also import from clipboard:

In [50]:
dataFromClipboard = pd.read_clipboard(sep=',')
# dataFromClipboard
oneSeries = dataFromClipboard['Name']
oneSeries

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

# head(x) and tail(x) returns only x values from begining / end of the series (default x = 5)

In [51]:
oneSeries.head()

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

In [52]:
oneSeries.tail()

795                Diancie
796    DiancieMega Diancie
797    HoopaHoopa Confined
798     HoopaHoopa Unbound
799              Volcanion
Name: Name, dtype: object

In [53]:
oneSeries.head(3)

0    Bulbasaur
1      Ivysaur
2     Venusaur
Name: Name, dtype: object

In [54]:
oneSeries.tail(10)

790                 Noibat
791                Noivern
792                Xerneas
793                Yveltal
794       Zygarde50% Forme
795                Diancie
796    DiancieMega Diancie
797    HoopaHoopa Confined
798     HoopaHoopa Unbound
799              Volcanion
Name: Name, dtype: object

# Dont screw iporting data using head() / tail() command - first example saves under obj2 only 3 rows!

In [58]:
obj2 = pd.read_csv("../data/pokemon.csv", usecols=['Name']).squeeze().head(3)
obj2.size
obj2 = pd.read_csv("../data/pokemon.csv", usecols=['Name']).squeeze()
obj2.head(3)

0    Bulbasaur
1      Ivysaur
2     Venusaur
Name: Name, dtype: object