In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [21]:
pok = pd.read_csv('../data/pokemon.csv', usecols=['Name']).squeeze().copy()

In [5]:
pok.head()

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

In [6]:
pok.sort_values().head()

510                  Abomasnow
511    AbomasnowMega Abomasnow
68                        Abra
392                      Absol
393            AbsolMega Absol
Name: Name, dtype: object

In [8]:
pok.sort_values(ascending=False).head()

794    Zygarde50% Forme
695            Zweilous
46                Zubat
631               Zorua
632             Zoroark
Name: Name, dtype: object

In [9]:
pok.head()

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

#  sorting does not change an object - need to .inplace if want to

In [22]:
pok.sort_values(inplace=True)

In [23]:
pok.head()

510                  Abomasnow
511    AbomasnowMega Abomasnow
68                        Abra
392                      Absol
393            AbsolMega Absol
Name: Name, dtype: object

In [24]:
pok.sort_index().head()

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

In [25]:
pok = pok.sort_index(ascending=False)

In [26]:
pok.head()

799              Volcanion
798     HoopaHoopa Unbound
797    HoopaHoopa Confined
796    DiancieMega Diancie
795                Diancie
Name: Name, dtype: object