In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

path = '../data/StackOverflowDeveloperSurvey.csv'
columns = ['CompanySize']

surveys = pd.read_csv(path, usecols=columns).squeeze()

In [9]:
surveys[3]

'10,000 or more employees'

In [11]:
surveys[1:10]

1          20 to 99 employees
2    10,000 or more employees
3    10,000 or more employees
4          10 to 19 employees
5                         NaN
6          20 to 99 employees
7     Fewer than 10 employees
8    5,000 to 9,999 employees
9                         NaN
Name: CompanySize, dtype: object

In [10]:
surveys[12345]

'20 to 99 employees'

In [12]:
surveys[12341:12351]

12341                         NaN
12342    1,000 to 4,999 employees
12343    10,000 or more employees
12344        100 to 499 employees
12345          20 to 99 employees
12346                         NaN
12347     Fewer than 10 employees
12348          20 to 99 employees
12349          20 to 99 employees
12350          20 to 99 employees
Name: CompanySize, dtype: object

In [13]:
surveys.sort_index(ascending=False, inplace=True)

In [14]:
surveys

51391    10,000 or more employees
51390     Fewer than 10 employees
51389          10 to 19 employees
51388        100 to 499 employees
51387        100 to 499 employees
                   ...
4              10 to 19 employees
3        10,000 or more employees
2        10,000 or more employees
1              20 to 99 employees
0                             NaN
Name: CompanySize, Length: 51392, dtype: object

In [15]:
surveys[3]

'10,000 or more employees'

In [17]:
surveys[1:10]

51390     Fewer than 10 employees
51389          10 to 19 employees
51388        100 to 499 employees
51387        100 to 499 employees
51386        100 to 499 employees
51385    1,000 to 4,999 employees
51384          20 to 99 employees
51383                         NaN
51382        100 to 499 employees
Name: CompanySize, dtype: object

In [18]:
surveys[12345]

'20 to 99 employees'

In [19]:
surveys[12341:12351]

39050          10 to 19 employees
39049                         NaN
39048                         NaN
39047        100 to 499 employees
39046    1,000 to 4,999 employees
39045          20 to 99 employees
39044     Fewer than 10 employees
39043                         NaN
39042     Fewer than 10 employees
39041          10 to 19 employees
Name: CompanySize, dtype: object

In [20]:
surveys.reset_index(drop=True, inplace=True)

In [21]:
surveys[3]

'100 to 499 employees'

In [22]:
surveys[1:10]

1     Fewer than 10 employees
2          10 to 19 employees
3        100 to 499 employees
4        100 to 499 employees
5        100 to 499 employees
6    1,000 to 4,999 employees
7          20 to 99 employees
8                         NaN
9        100 to 499 employees
Name: CompanySize, dtype: object

In [23]:
surveys[12345]

'1,000 to 4,999 employees'

In [24]:
surveys[12341:12351]

12341          10 to 19 employees
12342                         NaN
12343                         NaN
12344        100 to 499 employees
12345    1,000 to 4,999 employees
12346          20 to 99 employees
12347     Fewer than 10 employees
12348                         NaN
12349     Fewer than 10 employees
12350          10 to 19 employees
Name: CompanySize, dtype: object