In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random as rd

In [2]:
planes = {'PYT001' : 'Airbus 320',
          'PYT002': 'Boeing 737',
          'PYT003': 'Airbus 321'}

In [3]:
aircrafts = pd.Series(planes)

In [4]:
aircrafts

PYT001    Airbus 320
PYT002    Boeing 737
PYT003    Airbus 321
dtype: object

In [5]:
flightsList = []

In [15]:
for _ in range(100):
    flightsList.append(rd.choice(aircrafts.index))

In [16]:
flightsList[:5]

['PYT002', 'PYT002', 'PYT001', 'PYT002', 'PYT003']

In [17]:
flights = pd.Series(flightsList)

In [18]:
flights.head()

0    PYT002
1    PYT002
2    PYT001
3    PYT002
4    PYT003
dtype: object

In [19]:
flights.map(aircrafts)

0     Boeing 737
1     Boeing 737
2     Airbus 320
3     Boeing 737
4     Airbus 321
         ...
95    Airbus 321
96    Boeing 737
97    Airbus 320
98    Airbus 321
99    Airbus 320
Length: 100, dtype: object