In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [3]:
suppliers = pd.read_csv('../data/northwind/suppliers.csv',
                       usecols=['SupplierID', 'CompanyName', 'City'])
products = pd.read_csv('../data/northwind/products_del_2.csv',
                       usecols=['ProductID', 'SupplierID', 'ProductName'])

In [5]:
sup_prod = suppliers.merge(right=products,
                           on='SupplierID')

In [6]:
len(suppliers)

29

In [7]:
len(products)

68

In [8]:
len(sup_prod)

68

In [11]:
sup_prod_left = suppliers.merge(right=products,
                           on='SupplierID',
                           how='left',
                           indicator=True)

In [10]:
len(sup_prod_left)

70

In [12]:
filterDS = sup_prod_left['_merge'] == 'left_only'

In [13]:
sup_prod_left[filterDS]

,SupplierID,CompanyName,City,ProductID,ProductName,_merge
2,2,New Orleans Cajun Delights,New Orleans,NaN,NaN,left_only
67,27,Escargots Nouveaux,Montceau,NaN,NaN,left_only

In [17]:
sup_prod_right = products.merge(right=suppliers,
                           on='SupplierID',
                           how='right',
                           indicator=True)

In [18]:
filterDS = sup_prod_right['_merge'] == 'right_only'

In [21]:
sup_prod_right[filterDS]

,ProductID,ProductName,SupplierID,CompanyName,City,_merge
2,NaN,NaN,2,New Orleans Cajun Delights,New Orleans,right_only
67,NaN,NaN,27,Escargots Nouveaux,Montceau,right_only